.border-aqua-1 {
  border: 1px solid #7FDBFF; }

.border-aqua-2 {
  border: 1px solid #7FDBFF; }

.border-aqua-3 {
  border: 1px solid #7FDBFF; }

.border-aqua-4 {
  border: 1px solid #7FDBFF; }

.border-blue-1 {
  border: 1px solid #0074D9; }

.border-blue-2 {
  border: 1px solid #0074D9; }

.border-blue-3 {
  border: 1px solid #0074D9; }

.border-blue-4 {
  border: 1px solid #0074D9; }

.border-navy-1 {
  border: 1px solid #001F3F; }

.border-navy-2 {
  border: 1px solid #001F3F; }

.border-navy-3 {
  border: 1px solid #001F3F; }

.border-navy-4 {
  border: 1px solid #001F3F; }

.border-teal-1 {
  border: 1px solid #39CCCC; }

.border-teal-2 {
  border: 1px solid #39CCCC; }

.border-teal-3 {
  border: 1px solid #39CCCC; }

.border-teal-4 {
  border: 1px solid #39CCCC; }

.border-green-1 {
  border: 1px solid #2ECC40; }

.border-green-2 {
  border: 1px solid #2ECC40; }

.border-green-3 {
  border: 1px solid #2ECC40; }

.border-green-4 {
  border: 1px solid #2ECC40; }

.border-olive-1 {
  border: 1px solid #3D9970; }

.border-olive-2 {
  border: 1px solid #3D9970; }

.border-olive-3 {
  border: 1px solid #3D9970; }

.border-olive-4 {
  border: 1px solid #3D9970; }

.border-lime-1 {
  border: 1px solid #01FF70; }

.border-lime-2 {
  border: 1px solid #01FF70; }

.border-lime-3 {
  border: 1px solid #01FF70; }

.border-lime-4 {
  border: 1px solid #01FF70; }

.border-yellow-1 {
  border: 1px solid #FFDC00; }

.border-yellow-2 {
  border: 1px solid #FFDC00; }

.border-yellow-3 {
  border: 1px solid #FFDC00; }

.border-yellow-4 {
  border: 1px solid #FFDC00; }

.border-orange-1 {
  border: 1px solid #FF851B; }

.border-orange-2 {
  border: 1px solid #FF851B; }

.border-orange-3 {
  border: 1px solid #FF851B; }

.border-orange-4 {
  border: 1px solid #FF851B; }

.border-red-1 {
  border: 1px solid #FF4136; }

.border-red-2 {
  border: 1px solid #FF4136; }

.border-red-3 {
  border: 1px solid #FF4136; }

.border-red-4 {
  border: 1px solid #FF4136; }

.border-fuchsia-1 {
  border: 1px solid #F012BE; }

.border-fuchsia-2 {
  border: 1px solid #F012BE; }

.border-fuchsia-3 {
  border: 1px solid #F012BE; }

.border-fuchsia-4 {
  border: 1px solid #F012BE; }

.border-purple-1 {
  border: 1px solid #B10DC9; }

.border-purple-2 {
  border: 1px solid #B10DC9; }

.border-purple-3 {
  border: 1px solid #B10DC9; }

.border-purple-4 {
  border: 1px solid #B10DC9; }

.border-maroon-1 {
  border: 1px solid #85144B; }

.border-maroon-2 {
  border: 1px solid #85144B; }

.border-maroon-3 {
  border: 1px solid #85144B; }

.border-maroon-4 {
  border: 1px solid #85144B; }

.border-white-1 {
  border: 1px solid #FFFFFF; }

.border-white-2 {
  border: 1px solid #FFFFFF; }

.border-white-3 {
  border: 1px solid #FFFFFF; }

.border-white-4 {
  border: 1px solid #FFFFFF; }

.border-silver-1 {
  border: 1px solid #DDDDDD; }

.border-silver-2 {
  border: 1px solid #DDDDDD; }

.border-silver-3 {
  border: 1px solid #DDDDDD; }

.border-silver-4 {
  border: 1px solid #DDDDDD; }

.border-gray-1 {
  border: 1px solid #AAAAAA; }

.border-gray-2 {
  border: 1px solid #AAAAAA; }

.border-gray-3 {
  border: 1px solid #AAAAAA; }

.border-gray-4 {
  border: 1px solid #AAAAAA; }

.border-black-1 {
  border: 1px solid #111111; }

.border-black-2 {
  border: 1px solid #111111; }

.border-black-3 {
  border: 1px solid #111111; }

.border-black-4 {
  border: 1px solid #111111; }

/*# sourceMappingURL=border.css.map */
