.button {
    outline: 0;
    padding: 0.5em 1em;
    vertical-align: center;
    text-align: center;
    border: none;
    color: white;
    font-size: 0.8em;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

}

.button:hover {
    box-shadow: 4px 4px 10px #888888;
}



