// a mobile first approach.
.container {
    width: 100%;
    max-width: 960px;
    // max-width: 960px;
    // width: 100%;
    margin: 0 auto;
    // margin-top: 10px;
    // margin-bottom: 10px;
}

.grid {
    display: -webkit-flex;
    display: flex;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-align-items: center;
    // align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
   
}

[class*="col-"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 16px;
}

@media only screen and (min-width: 768px) {
     /* For desktop: */
    .grid {
        -webkit-flex-direction: row;
        flex-direction: row;
        max-width: 960px;
        margin: 10px auto;
    }
    @for $i from 1 through 12 {
        $width: percentage(1 / 12);
        .col-#{$i} {
            width: $width * $i;
            box-sizing: border-box;
            margin-bottom: 0;
            
        }
    }
}

.center {
    text-align: center;
}