// a mobile first approach.

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

[class*="col-"] {
    width: 100%;
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
     /* For desktop: */
    .container {
        -webkit-flex-direction: row;
        flex-direction: row;
        max-width: 960px;
        margin: 0 auto;
    }
    @for $i from 1 through 12 {
        $width: percentage(1 / 12);
        .col-#{$i} {
            width: $width * $i;
            box-sizing: border-box;
            
        }
    }
}

.center {
    text-align: center;
}