

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    padding: 0 0;
    box-sizing: border-box;
}

@for $i from 1 through 12 {
    $width: percentage(1 / 12);
    .col-#{$i} {
        width: $width * $i;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid black;
    }
}